*{
    padding: 0px;
    margin: 0px;
	box-sizing: border-box;
	position: relative;
}
body, html{

    height: 100%;
    width: 100%;
}

header, footer{

    height: 15%;
    background-color: #aed6f1; 
    border-style: solid;
    border-color:  #d7bde2;

}

h1{
    
    position: absolute;
    right: 40%;
    bottom: 0%;
}

header{
    position: relative;
}

legend{

    font-size: 1.2em;
    color: #09384e;
    font-weight: bold;
}

label{
    width: 40%;
    margin: 2px;
}
form{
    padding-top: 10px;
    margin: 10px;
    height: 100%;
}

audio{

    display: none;
}

#gameContent{
    
    height: 70%;
    display: flex;
    flex-direction: row;
	width: 100%;
}

#leftSection, #middleSection{
    
    border-style: solid;
    border-color: darkcyan;
    border: 2px; 
    height: 100%;
}

#leftSection{
    background-color:  #aed6f1;
    width: 30%;
    border-style: solid;
    border-color:  #424949 ;
    border-bottom-width: 6px;
	position: relative;
}

#tab{
    
    background-color: white;
    height: 10%;
    overflow: hidden; 
    
}



#playerInfo{

    height: 60%;
}

#setupSection{

    height: 100%;
}

#playBtn, #cancelBtn{

    display: inline-block;
    height: 45px;
    width: 120px;
    border: none;
    text-align: center;
    background-color: "gray";
}


#infoForm{

    height: 40%;
}
#progressForm{

    height: 30%;
}
#progressContainer{

    height: 100%;    
}

#input1, #input2, #input3, #input4{

    display: inline-block;
    width: 10%;
    margin-left: 20px;
    
}





#middleSection{
    
    height: 100%;
    width: 70%;
}

#greenButton{

    background-color: #4CAF50;
}

#blueButton{
    
    background-color: #008CBA;
}
#redButton{
    
    background-color: #f44336;
}

#disabledButton{
    
    background-color: #e7e7e7;   
}


#checkerBoardId{

    float: left;
    width: 100%;
    height: 100%;
}

.tablinks{

    border: 0;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: inherit;
    height: 100%;
    margin: 0;
    
    
}

.progressInput{

    margin: 5px;
    width: 10px;
}

.puzzleBoard{

    margin: 1px;
    border-style: solid, black;
    border-width: 3px; 
}


.filledTile, .emptyTile{

    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: #77B3ED;
    border-style: 2px, solid, #404c50;
    color: white;
    font-weight: bold;
}

.emptyTile{

    background-color: #afd9ec;
    color: #afd9ec;
}