/*#playerInfo, #setupSection, #progressContainer, fieldset, fieldset section, .progressInputs, form
{
	width: 100%;
}
*/
.progressInput
{
	width: 20%;
}

#gameStats
{
	margin: 10px;
	position: relative;
}


#tableStats
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	
}

.hRow
{
	background-color: green;
	color: white;
}